.main {
    margin-top: 100px;

    .container {
        width: 1140px;
        margin: 0 auto;
        overflow-x: hidden;
    }

    &__wrapper {
        display: flex;

        .ingridients {
            padding: 20px 0;
            flex-basis: 65%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;

            &__title {
                @include font(32px, $ffOswaldReg, 400, #000000, inherit, left, 36px);
                padding: 20px;
            }

            &__list-images {
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;

                li {
                    width: 180px;
                    height: 180px;
                    border: 1px solid #b4b4b4;
                    margin: 10px 32px;
                    @include flex(center, inherit);
                    align-items: center;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }

        .menu {
            flex-basis: 35%;
            padding: 20px 0;

            .menu__wrapper {
                display: flex;
                flex-wrap: wrap;
                padding: 20px;
                align-items: center;
                justify-content: space-between;
            }

            &__title {
                @include font(32px, $ffOswaldReg, 400, #000000, inherit, left, 32px);
                margin-bottom: 8px;

            }

            &__pizza-price {
                background-color: #716f6f;
                padding: 8px;
                border-radius: 20px;
                @include font(22px, $ffOswaldReg, 400, #ffffff, inherit, left, 22px);
            }

            &__reset-btn {
                @include font(22px, $ffOswaldReg, 400, #2d2626, inherit, left, 22px);
                background-color: orange;
                border: none;
                padding: 4px 8px;
                cursor: pointer;
                border-radius: 4px;
            }

            &__ingridients {
                @include font(22px, $ffOswaldReg, 400, #2d2626, inherit, left, 22px);

                width: 100%;
                margin-top: 25px;
            }
        }

        .menu__ingridients-item {
            border: 1px solid #b4b4b4;
            padding: 20px;
            border-collapse: collapse;
            @include flex(space-between, inherit);
            align-items: center;
        }

        .menu__ingridients-item+.menu__ingridients-item {
            border-top: 1px solid transparent;
        }

        .item__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            &-minus,
            &-plus,
            &-value {
                width: 40px;
                height: 40px;
                border: 2px solid transparent;
                color: #fff;
                font-size: 25px;
            }

            &-minus {
                cursor: pointer;
                background-color: red;
            }

            &-plus {
                cursor: pointer;
                background-color: green;
            }

            &-value {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #f3f3f3;
                color: #000000;
            }
        }

        .item__info {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}