html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

@import "./reset";
@import "./vars";
@import "./fonts";
@import "./mixins";

@import "../components/header/header";
@import "../components/content/main";
@import "../components/modal/modal";
@import "../components/checkout/checkout";